<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Template Page</title>
    <style>
        #h11{
        color:red;
        }
        #h12{
        color:cyan;
        }
    </style>
</head>
<body bgcolor="pink" text="red" >
<h1 id=h11 align="center">{{insert_msg|upper}}</h1>
<h1 id=h12 align="center">Cuurent Date And Time:{{insert_date}}</h1>


<ol>
    <li>HTML
        <ul>
            <li><i><u><b>BASIC TAGS</b></u>></i>
            <li><i><b>FORMATTING TAGS</b></i>
            <li><b>LIST TAGS</b>
        </ul>
       <li >CSS
        <ul>
            <li><marquee bgcolor="Orange" scrollamount="10" width="300" height="50"><i>COLOR PROPERTIES</i></marquee>
            <li><marquee bgcolor="White" scrollamount="15" behavior="alternate" direction="right" width="300" height="50">
            <i>BACKGROUND PROPERTIES</i></marquee>
            <li> <marquee bgcolor="green" scrollamount="5" behavior="alternate" direction="up" width="300" height="50" >
            <i>BORDER PROPERTIES</i></marquee>
        </ul>
     <li>Java Script
        <ul>
            <li><ceneter><font face="impact" color="skyblue" size="7">IDENTIFIERS</font>
            </ceneter>
            <li><ceneter><font face="courier" color="brinzal" size="7">KEYWORDS</font>
            </ceneter>
            <li> <ceneter><font face="arial" color="black" size="7">LITERALS</font>
            </ceneter>
        </ul>

</ol>
H<sub>2</sub>O<br>
11<sup>th</sup>November,2023
<bdo dir="ltr">Welcome The Template Page</bdo>
<hr size="5" color="blacak">
<p> This is the first time INDIA win all the League matches in ODI World Cup... Let's See
what happened in SEMI FINAL Match Against New Zealand.Score Hundred for <mark>VIRAT KOHLI</mark></p>
<progress></progress>
<progress max="100" value="95"></progress>
<progress max="100" value="25"></progress><br>
Welcome to<abbr title="Naresh I Technologies">NIT</abbr><br>
<h3><u>Address</u></h3>
<address>
    Naresh I Tec hnologies,<br>
    Ameerpet,<br>
    Hyderabad-500016.<br>
    Telangana.
</address>

</body>
</html>