<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Information</title>
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
</head>
<body>
<h1>{{head_msg}}</h1>
<ul>
    <li><h2>{{sub_msg1}}</h2></li>
        <li><h2>{{sub_msg2}}</h2></li>
    <li><h2>{{sub_msg3}}</h2></li>

</ul>
<img src="{% static 'images/oskar-smethurst-B1GtwanCbiw-unsplash.jpg'%}">
<img src="{% static 'images/gettyimages-111507587-594x594.jpg'%}">
<img src="{% static 'images/istockphoto-173932687-1024x1024.jpg'%}">

</body>
</html>