<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <title>Second Template Page</title>
</head>
<body bgcolor="black" text="cyan"link="green" vlink="red" alink="cyan">
<h1>Cuurent Date And Time:{{insert_date}}</h1>
<h1>Hello</h1>
<a href="wish.html" target="_blank">ORDERED LISTS</a><br>
<a href="wish.html" target="_self">UNORDERED LISTS</a><br>
<a href="http://www.google.com">Google</a><br>
<a href="http://www.facebook.com" target="_blank">Facebook</a><br>
<a href="http://www.yahoo.com">Yahoo</a><br>
<a href=#HTML>HTML MARKUP LANGUAGE</a><br>
<a href=#CSS>CASCADING STYLE SHEETS</a><br>
<a href=#JS>JAVA SCRIPT</a><br>
<br><br><br><br><br><br><br><br><br>
<a name="HTML">HTML MARKUP LANGUAGE</a><br>
<br><br><br><br><br><br><br><br><br>
<a name="CSS">CASCADING STYLE SHEETS</a><br>
<br><br><br><br><br><br><br><br><br>
<a name="JS">JAVA SCRIPT</a><br>
<h2 >This is End User Image: </h2>
<img src ="{% static 'images/siva photo.jpg'%}" alt="">
<h2 >This is End User Image: </h2>
<h2 >This is End User Image: </h2>


</body>
</html>